body{
    margin: 0 7%;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #f8591ac9;
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background.jpg); */
    /* background-repeat: no-repeat; */
    background-size: 100%;
    background-position: top;
}

.nav-div{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

nav a{
    color: antiquewhite;
}

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}

.form-control{
    border: none;
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0.253);
    padding: 25px;
}

.search-box{
    position: relative;
}

.search-btn{
    position: absolute;
    border-radius: 25px;
    top: 0;
    right: 0;
    height: 100%;
    padding: 9px 20px;
}

#display-cocktails{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#display-search{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#display-cocktails div{
    padding-bottom: 30px;
    object-fit: cover;
}

#drinks-detail{
    color: black;
    padding-bottom: 30px;
}

.details-img{
    margin: 10px auto;
}